THEORITICAL QUESTIONS:-

1. What are data structures, and why are they important?
    - Data structures are ways to organize and store data so that it can be easiy accesed and manipulated.

2. Explain the difference between mutable and immutable data types with examples?
    - Mutable data types can be changed (eg.- lists , dictionary). Whereas, Immutable data types can't be changed (eg.- strings, tuples).

3. What are the main differences between lists and tuples in Python?
    - Lists are mutable and uses square [] brakets.
      Tuples are immutable and uses parenthesis ().

4. Describe how dictionaries store data?
    - Dictionaries stores data in key-value pairs using hash map internally.

5. Why might you use a set instead of a list in Python?
    - To avoid unnecesary duplicates or to usee unique elements.

6. What is a string in Python, and how is it different from a list?
    - A string is a sequence of characters, immutable in python and lists can contain any data types and is mutable.

7. How do tuples ensure data integrity in Python?
    - Tuples ensures data integrity by its immutable capacity so once the data is stored it can't be modified.

8. What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table maps the keys to values using hash function in python and dictionaries are implemented as hash table.

9. Can lists contain different data types in Python?
    - Yes, lists contain differnt data types in python.

10. Explain why strings are immutable in Python?
    - Strings are immutable because changing them will require to create a new string object each time.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries are faster as compared to lists which needs a sequential data.

12. Describe a scenario where using a tuple would be preferable over a list.
    - Use of tuple would be preferable when you need data that shouldn't change. (eg.- database record, empid).

13. How do sets handle duplicate values in Python?
    - Sets automatically removes duplicate values.

14. How does the “in” keyword work differently for lists and dictionaries?
    - "in" checks if the ellement is present in data or not. in list- value and in dict.- key.

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, tuple elements can't be modified coz its immutable.

16. What is a nested dictionary, and give an example of its use case?
    - Nested dict. is a dict. inside a dictionary.

17. Describe the time complexity of accessing elements in a dictionary?
    -

18. In what situations are lists preferred over dictionaries?
    - Lists are preferable when ordered matter or duplicates needed.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    -

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - Lists retrieved by index and dicionaries retrieved by keys.

PRACTICAL QUESIONS:-

1. Write a code to create a string with your name and print it.

In [ ]:
name = "palak"
print(name)

palak

2. Write a code to find the length of the string "Hello World".

In [ ]:
print(len("Hello World"))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
print("Python Programming"[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
print("hello".upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
print("i like apple".replace("apple" , "orange"))

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1,2,3,4,5]
print(numbers)

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
lst = [1,2,3,4]
lst.append(10)
print(lst)

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
lst = [10,20,30,40,50]
lst.reverse()
print(lst)

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [1]:
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors = ('red','green','blue','yellow')
print(colors,[-2])

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
num = (10,20,5,15)
print(min(num))

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
names = ('dog','cat','rabbit')
print(index('cat'))

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [2]:
lst = ['apple', ' banana', 'orange']
print('kiwi' in lst)

False

In [ ]:
16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [3]:
s = {'a','b','c'}
print(s)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [5]:
s = {1,2,3,4,5}
s.clear
print(s)

{1, 2, 3, 4, 5}

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [6]:
s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [7]:
a = {1,2,3}
b = {4,5,6}
print(a.union(b))

{1, 2, 3, 4, 5, 6}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [8]:
a = {1,2,3}
b = {2,3,4}
print(a.intersection(b))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [10]:
dict = {"name":"palak" , "age":20 , "city":"delhi"}
print(dict)

{'name': 'palak', 'age': 20, 'city': 'delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [11]:
a = {'name': 'John', 'age': 25}
a['country'] = 'USA'
print(a)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [12]:
a = {'name': 'Alice', 'age': 30}
print(a['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [13]:
a = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del a['age']
print(a)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [14]:
a = {'name': 'Alice', 'city': 'Paris'}
print('city' in a)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [15]:
lst = [1,2,3]
tuple = (2,3,4)
dict = {'a': 1 , 'b': 2}
print (lst)
print (tuple)
print (dict)

[1, 2, 3]
(2, 3, 4)
{'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

In [17]:
lst = [20, 10, 5, 45, 67]
lst.sort()
print(lst)

[5, 10, 20, 45, 67]

28. Write a code to create a list with strings and print the element at the third index.

In [19]:
lst = ["apple", "mango", "banana", "orange"]
print(lst[3])

orange

29. Write a code to combine two dictionaries into one and print the result.

In [21]:
d1 = {"name" : "palak" , "age" : 22}
d2 = {"city" : "delhi" , "country" : "india"}
d1.update(d2)
print(d1)

{'name': 'palak', 'age': 22, 'city': 'delhi', 'country': 'india'}

30. Write a code to convert a list of strings into a set.

In [ ]:
lst = ["palak", "shanaya", "anmol"]
s = set(lst)
print(s)